@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Neo Bold'),
    url('/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
    font-display: swap;
}


@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    src: local('Spoqa Han Sans Neo Medium'),
    url('/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Neo Regular'),
    url('/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    src: local('Spoqa Han Sans Neo Light'),
    url('/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 100;
    src: local('Spoqa Han Sans Neo Thin'),
    url('/fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo-Thin.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 300;
    font-style: normal;
    src: local('Titillium Web Light'),
    url('/fonts/TitilliumWeb-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 300;
    font-style: italic;
    src: local('Titillium Web Light Italic'),
    url('/fonts/TitilliumWeb-LightItalic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 400;
    font-style: normal;
    src: local('Titillium Web Regular'),
    url('/fonts/TitilliumWeb-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 400;
    font-style: italic;
    src: local('Titillium Web Italic'),
    url('/fonts/TitilliumWeb-Italic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 700;
    font-style: normal;
    src: local('Titillium Web Bold'),
    url('/fonts/TitilliumWeb-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 700;
    font-style: italic;
    src: local('Titillium Web Bold Italic'),
    url('/fonts/TitilliumWeb-BoldItalic.ttf') format('truetype');
    font-display: swap;
}

.clickable {
    cursor: pointer;
}

.selectable__none {
    -webkit-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

.external-link:hover {
    text-decoration: underline;
}
